<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Insights</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>University of Minnesota - Computer Science Professor Insights</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>CSCI 5541: NLP, Final Project - Rimika Dhara and Akansha Kamineni</p>
    </footer>
</body>
</html>
